@model IEnumerable<DemoDatosLCV.Periodo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gestion.UsuarioReg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gestion.UsuarioReg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Periodo  }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Periodo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Periodo })
        </td>
    </tr>
}

</table>
