@model DemoDatosLCV.Gestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Gestion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CGestion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CGestion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsuarioReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsuarioMod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioMod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaMod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaMod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa.Razon_Social)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Razon_Social)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
